/* FONTS */

@font-face {
    font-family: "Campton-Light";
    src: url("/fonts/Campton-Light.ttf");
}

@font-face {
    font-family: "Campton-LightDEMO";
    src: url("/fonts/Campton-LightDEMO.ttf");
}

@font-face {
    font-family: "Campton-Medium";
    src: url("/fonts/Campton-Medium.ttf");
}

@font-face {
    font-family: "Campton-Bold";
    src: url("/fonts/Campton-Bold.ttf");
}

@font-face {
    font-family: "Campton-BoldDEMO";
    src: url("/fonts/Campton-BoldDEMO.ttf");
}

@font-face {
    font-family: "Campton-SemiBold";
    src: url("/fonts/Campton-SemiBold.ttf");
}
@font-face {
    font-family: "RobotoRegular";
    src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "RobotoLight";
    src: url("/fonts/Roboto-Light.ttf");
}

/* END FONTS */