body {
    background-color: #F5F5F5;
}
input {
    background-color:#F5F5F5;
}
.form-search-group{
    max-width: 500px;
}
.form-search-group label[for=search]{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.form-search-group input{
    width: 100%;
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #39393B;
    padding: 15px 45px 15px 15px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    opacity: 1;}
.form-search-group input {
    color: rgba(57,57,59,0.4);
}
.form-search-group .search-icon{
    position: absolute;
    right: 0;
    margin: 0 20px 0 0;

}


/************************************************************************/

.wrapper {
    display: flex;
    justify-content: flex-end;
}

.sidebar {
    width: 240px;
    background-color: #142A33;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.navigation-bar {
    margin: 30px 0 0 0;
}

.navigation-bar .logo-bar {
    max-width: 150px;
    margin: 30px auto;
}

.navigation-bar .logo-bar img {
    max-width: 100%;
}

.navigation-bar .switch-button {

}

.navigation-bar .switch-button > button {

}

.navigation-bar .switch-button {

}

.navigation-bar .menu-items-bar {
    margin: 0 0 0 20px;
}

.navigation-bar .menu-items-bar > div {
    padding: 20px 0;
    margin: 20px 0;
    border-top: 1px solid rgba(235, 235, 235, .2);
    border-bottom: 1px solid rgba(235, 235, 235, .2);

}

.navigation-bar .menu-items-bar a {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 20px 0 0;
    border-right: 3px solid transparent;
    transition: .3s ease;
    text-decoration: none;

}

.navigation-bar .menu-items-bar a.active-menu-item,
.navigation-bar .menu-items-bar a:active,
.navigation-bar .menu-items-bar a:hover {
    border-right: 3px solid #FBFBFB;
}
.navigation-bar .menu-items-bar a.active-menu-item .name-bar,
.navigation-bar .menu-items-bar a:active .name-bar,
.navigation-bar .menu-items-bar a:hover  .name-bar{
    color: #ffffff;
}

#logoutItem:hover,
#logoutItem:active {
    border: none;
}

.navigation-bar .menu-items-bar a:active .name-bar,
.navigation-bar .menu-items-bar a:hover .name-bar {
    color: #ffffff;
}

.navigation-bar .menu-items-bar a:last-child {
    margin: 0;
}


.navigation-bar .menu-items-bar a .icon-bar {
    width: 34px;
    height: 34px;
    display: block;
    margin: 0 12px 0 0;
}

.navigation-bar .menu-items-bar a .icon-bar img {
    max-width: 100%;
}

.navigation-bar .menu-items-bar a .name-bar {
    color: #A3A7AB;
    text-align: left;
    font: normal normal 16px/19px Roboto;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    opacity: 1;
}


.wrapper-body {
    width: -webkit-calc(100% - 240px);
    width: -moz-calc(100% - 240px);
    width: calc(100% - 240px);
    height: 100vh;
    min-height: 800px;
    background-color: #F5F5F5;

}

/******************************************************/
.wrapper-body header {
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    padding: 15px 0;
}

.wrapper-body header nav {
    max-width: 1560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0 40px;
}

.wrapper-body header .page_name {

}

.wrapper-body header .page_name h1 {
    text-align: left;
    font: normal normal bold 20px/24px Roboto;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #142A33;
    opacity: 1;
    margin: 0;
    text-transform: capitalize;
}
.wrapper-body header .page_name a {
    display: flex;
    text-decoration: none;
}

.wrapper-body header .page_name a > span {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 14px 0 0;
}

.wrapper-body header .page_name a > span img {
    max-width: 100px;
}

.wrapper-body header .user_avatar_bar {
    display: flex;
    align-items: center;
}

.wrapper-body header .user_avatar_bar .user-name {
    margin: 0 14px 0 0;
    font: normal normal bold 18px/22px Roboto;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #142A33;
    text-transform: capitalize;
    opacity: 1;

}

.wrapper-body header .user_avatar_bar .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
}

/*************************************************************/

.wrapper-body section{

}
.wrapper-body section .section-wrap{
    max-width: 1560px;
    /*margin: 30px auto 0;*/
    margin: 30px auto 0 40px;

}
.wrapper-body section .packages-switch-btns-bar {
    display: flex;
    margin: 20px 0 ;
}

.wrapper-body section .packages-switch-btns-bar .package-item {
    width: 240px;
    height: 60px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    opacity: 1;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 10px 0;
    margin: 0 20px 0 0;
    transition: .3s ease;
}

.wrapper-body section .packages-switch-btns-bar .package-item:last-child {
    margin: 0;
}

.wrapper-body section .packages-switch-btns-bar .package-item.active-package,
.wrapper-body section .packages-switch-btns-bar .package-item:active,
.wrapper-body section .packages-switch-btns-bar .package-item:hover {
    background-color: #142A33;
    color: #ffffff;
}

.wrapper-body section .packages-switch-btns-bar .package-item > span {
    text-align: center;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #A3A7AB;
    text-transform: capitalize;
    opacity: 1;
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.wrapper-body section .packages-switch-btns-bar .package-num {
    font: normal normal 20px/26px Roboto;
    width: 25%;

}

.wrapper-body section .packages-switch-btns-bar .package-name {
    font: normal normal 18px/26px Roboto;
    width: 75%;
}
/* Dashboard  */
section .section-wrap.dashboard-section .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 30px 0
}

section .section-wrap.dashboard-section .header-bar .total-payment-bar {
    display: flex;
    align-items: center;
}

section .section-wrap.dashboard-section .header-bar .total-payment-bar h2 {
    margin: 0 20px 0 0;
    text-align: center;
    font: normal normal 24px/26px Roboto;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #142A33;
    text-transform: uppercase;
    opacity: 1;

}

section .section-wrap.dashboard-section .header-bar .total-payment-bar p {
    margin: 0;
    text-align: center;
    font: normal normal normal 20px/26px Roboto;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #A3A7AB;
    text-transform: lowercase;
    opacity: 1;
}

section .section-wrap.dashboard-section .header-bar .date-bar {
    display: flex;
    align-items: center;

}

section .section-wrap.dashboard-section .header-bar .date-bar p {
    margin: 0;
    text-align: center;
    font: normal normal normal 20px/26px Roboto;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #A3A7AB;
    text-transform: lowercase;
    opacity: 1;
}

section .section-wrap.dashboard-section .header-bar .date-bar img {
    margin: 0 0 0 16px;
    width: 29px;
    height: 29px;
}

section .section-wrap.dashboard-section .total-payments-packages {
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 20px #0000001A;
    border-radius: 4px;
    opacity: 1;
    padding: 30px;
}

section .section-wrap.dashboard-section .total-payments-packages h4,
section .section-wrap.dashboard-section .packages-profit-bar h4 {
    text-align: left;
    font: normal normal 600 20px/27px Segoe UI;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #142A33;
    text-transform: capitalize;
    opacity: 1;
    margin: 0 0 20px 0;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-appearance {
    padding: 0 0 40px 0;
    margin: 0 0 20px 0;
}

section .section-wrap.dashboard-section .total-payments-packages .progress-bar {
    width: 100%;
    height: 40px;
    background: #EEEEEE 0 0 no-repeat padding-box;
    opacity: 1;
    display: flex;
}

section .section-wrap.dashboard-section .total-payments-packages .progress-paid {
    width: 30%;
    max-width: 444px;
    height: 100%;
    background-color: #142A33;
}

section .section-wrap.dashboard-section .total-payments-packages .progress-must-paid {
    width: 43%;
    max-width: 644px;
    height: 100%;
    background-color: #459290;
}

section .section-wrap.dashboard-section .total-payments-packages .progress-val {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1380px;

}

section .section-wrap.dashboard-section .total-payments-packages .progress-val span {
    display: block;
    text-align: right;
    font: normal normal normal 16px/11px Segoe UI;
    font-family: "Segoe UI", sans-serif;
    letter-spacing: 0;
    color: #58595B;
    opacity: 1;
}

section .section-wrap.dashboard-section .total-payments-packages .progress-val span:before {
    content: "";
    width: 1px;
    height: 9px;
    background-color: rgba(112, 112, 112, .5);
    display: block;
    margin: 8px auto 2px;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values {
    display: flex;
    justify-content: space-between;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values > div {
    display: flex;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .aside-left > div {
    padding: 0 0 0 8px;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values div > div:first-child {
    margin: 0 80px 0 0;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .aside-left > div:nth-child(1) {
    border-left: 6px solid #142A33;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .aside-left > div:nth-child(2) {
    border-left: 6px solid #459290;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .aside-right > div {
    text-align: right;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .total-payment-val-item {

}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .total-payment-val-item h5 {
    margin: 0 0 10px 0;
    font: normal normal 600 16px/21px Segoe UI;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: #39393B;
    opacity: 1;
}

section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .total-payment-val-item p {
    margin: 0;
    font: normal normal 600 20px/27px Segoe UI;
    font-family: RobotoRegular, sans-serif;
    letter-spacing: 0;
    color: rgba(88, 89, 91, .5);}


section .section-wrap.dashboard-section .packages-profit-bar {
    width: 100%;
    max-width: 1000px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 20px #0000001A;
    border-radius: 4px;
    opacity: 1;
    padding: 30px;
    margin: 40px 0 0 0;
}

section .section-wrap.dashboard-section .packages-profit-bar h4 span {
    text-align: left;
    font: normal normal 600 20px/27px Segoe UI, sans-serif;
    letter-spacing: 0;
    color: #A3A7AB;
    text-transform: capitalize;
    opacity: 1;
    margin: 0 0 0 10px;
    display: inline-block;
}

#chartdiv {
    width: 100%;
    max-width: 1000px;
    height: 500px;
    position: relative;
}

#chartdiv:after {
    content: "%";
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    text-align: center;
    font: normal normal 600 50px/50px Segoe UI, sans-serif;
    letter-spacing: 0;
    color: #A3A7AB;
    opacity: 1;
}

section .section-wrap.dashboard-section g[aria-labelledby=id-66-title] {
    display: none;
}

section .section-wrap.dashboard-section g[aria-label=Series] {
    transform: rotate(-27deg);
}

section .section-wrap.dashboard-section g[aria-label=Series ] textPath {
    display: none
}

section .section-wrap.dashboard-section g text {
    font: normal normal 600 16px/27px Segoe UI, sans-serif;
}

section .section-wrap.dashboard-section #id-122 {
    fill: #142A33;
}

section .section-wrap.dashboard-section g[aria-controls=id-122][aria-checked="true"] g > g > g > g path {
    fill: #142A33;
    stroke: #142A33;
}

section .section-wrap.dashboard-section g[aria-controls=id-122][aria-checked="true"] g text {
    fill: #142A33;
}

section .section-wrap.dashboard-section #id-157 {
    fill: #8CC715;
}

section .section-wrap.dashboard-section g[aria-controls=id-157][aria-checked="true"] g > g > g > g path {
    fill: #8CC715;
    stroke: #8CC715;
}

section .section-wrap.dashboard-section g[aria-controls=id-157][aria-checked="true"] g text {
    fill: #8CC715;
}


section .section-wrap.dashboard-section #id-191 {
    fill: #459290;
}

section .section-wrap.dashboard-section g[aria-controls=id-191][aria-checked="true"] g > g > g > g path {
    fill: #459290;
    stroke: #459290;
}

section .section-wrap.dashboard-section g[aria-controls=id-191][aria-checked="true"] g text {
    fill: #459290;
}

section .section-wrap.dashboard-section #id-225 {
    fill: #A7E1E1;

}

section .section-wrap.dashboard-section g[aria-controls=id-225][aria-checked="true"] g > g > g > g path {
    fill: #A7E1E1;
    stroke: #A7E1E1;
}

section .section-wrap.dashboard-section g[aria-controls=id-225][aria-checked="true"] g text {
    fill: #A7E1E1;
}


/************************************************************************************************/

.for-information > div .select-content.select-package,
.for-information > div .form-group.event-name-group,
.for-information > div .form-group.email-address-group,
.for-information > div .form-group.phone-number-group,
.for-information > div .form-group.address-group,
.for-information > div .form-group.cvv-group,
.for-information > div .form-group.expiry-group {
    margin: 0;
}

.wrapper-body section .section-wrap.for-information {
    max-width: 710px;
}

.for-information > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

.for-information > div > h3 {
    width: 100%;

    text-align: left;
    font: normal normal 18px/26px Roboto;
    font-family: RobotoRegula, sans-serif;
    letter-spacing: 0;
    color: #142A33;
    text-transform: capitalize;
    opacity: 1;
    padding: 0 0 6px 0;
    margin: 0 0 22px 0;
    border-bottom: 1px solid rgba(163, 167, 171, .4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.for-information > div .select-content,
.for-information > div .form-group {
    width: 48%;
    margin: 0 0 26px 0;
    max-width: 340px;
    align-content: flex-start;


}

.for-information > div .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.for-information > div .form-group > div {
    width: 48%;
    max-width: 155px;
    margin: 0;
}

.for-information > div .form-group > div.select-content .custom-select-trigger {
    font-family: RobotoRegula, sans-serif;
}

.for-information .form-group label {
    width: 100%;
    margin: 0 0 6px 0;
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    font-family: RobotoRegula, sans-serif;
    letter-spacing: 0;
    color: #39393B;
    text-transform: capitalize;
    opacity: 1;
}

.for-information .form-group input {
    width: 100%;
}

.for-information .form-group input {
    height: 48px;
    text-align: left;
    font: normal normal normal 16px/19px Roboto;
    font-family: RobotoRegula, sans-serif;

    letter-spacing: 0;
    color: #39393B;
    padding: 13px 15px 13px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    opacity: 1;
    text-transform: capitalize;
}

.for-information .form-group input::placeholder {
    color: rgba(57, 57, 59, 4);

}

.for-information .credit-card-banner {
    width: 100%;
    margin: 12px 0 26px;
}

.for-information .credit-card-banner .card-item {
    border: 1px solid #A3A7AB;
    border-radius: 4px;
    opacity: 0.5;
    width: 144px;
    height: 76px;
    margin: 0 30px 0 0;
    padding: 11px 28px;
    position: relative;
}

.for-information .credit-card-banner .card-item.active-card {
    opacity: 1;
    border-color: #142A33;
}

.for-information .credit-card-banner .card-item.active-card:after {
    content: "\f00c ";
    font-family: FontAwesome, sans-serif;
    position: absolute;
    right: -13px;
    top: -13px;
    background-color: #142A33;
    color: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.for-information .credit-card-banner .card-item:last-child {
    margin: 0;
}

.for-information .credit-card-banner .card-item img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.for-information .buttons_bar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0;
}

.for-information .buttons_bar button {
    width: 48%;
    max-width: 340px;
    height: 48px;
    border-radius: 4px;
    opacity: 1;
    text-align: center;
    font: normal normal 16px/19px Roboto;
    font-family: RobotoRegula, sans-serif;
    letter-spacing: 0;
    text-transform: capitalize;
    transition: .3s ease;
}

.for-information .buttons_bar button.light-btn-style {
    color: #142A33;
    border-color: #142A33;
}
.address-group{
    width: 100% !important;
    max-width: 100% !important;
}
.avatar-upload {
    display: flex;
}

.avatar-upload .avatar-preview {
    margin: 0 30px 0 0;
}

.avatar-upload .avatar-edit {
    display: flex;
    margin: 35px 0 0 0;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .account-info-bar h2 {
    text-align: left;
    font: normal normal 22px/27px Roboto, sans-serif;
    letter-spacing: 0;
    color: #142A33;
    text-transform: capitalize;
    opacity: 1;
    margin: 0 0 9px 0;
}

.avatar-upload .account-info-bar p {
    text-align: left;
    font: normal normal normal 16px/19px Roboto, sans-serif;
    letter-spacing: 0;
    color: rgba(57, 57, 59, .4);
    text-transform: capitalize;
    margin: 0;
}

.avatar-upload .avatar-edit input + label {
    padding: 12px;
    background-color: rgba(69,146,144, .7);
    text-align: center;
    font: normal normal 14px/17px Roboto, sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    width: 100%;
    transition: .3s ease;
}

.avatar-upload .avatar-edit input + label:hover {
    background-color: #459290;
}

.avatar-upload .avatar-preview {
    width: 130px;
    height: 130px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.for-information > div .form-group.pass-group {
    margin: 20px 0 0 0;
}

.hide-form-group {
    display: none !important;
}

.change-pass-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    text-align: right;
    font: normal normal 18px/26px Roboto, sans-serif;
    letter-spacing: 0;
    color: #459290;
    text-transform: capitalize;
    opacity: 1;
}
@media (max-width: 1800px) {
    .wrapper-body header {
        padding: 15px;
    }
    .wrapper-body section .section-wrap {
        padding: 0 15px;
    }
    .wrapper-body header nav{
        margin: 0 auto 0 25px;
    }
    .wrapper-body section .section-wrap {

        margin: 30px auto 0 25px;
    }
    .wrapper-body section .section-wrap.dashboard-section {
    }
}

@media (max-width: 1400px) {
    .wrapper-body section .packages-switch-btns-bar .package-item {
        width: 200px;
        margin: 0 15px 0 0;
    }

    .wrapper-body section .packages-switch-btns-bar .package-item > span {
        font-size: 16px;
        padding: 0 9px;
    }
}

@media (max-width: 1200px) {
    .wrapper-body section .packages-switch-btns-bar .package-item > span {
        font-size: 14px;
        padding: 0 5px;
    }
    section .section-wrap.dashboard-section .header-bar .total-payment-bar h2 {
        font-size: 21px;
        line-height: initial;
    }

    section .section-wrap.dashboard-section .total-payments-packages h4, section .section-wrap.dashboard-section .packages-profit-bar h4 {
        font-size: 19px;
        line-height: initial;
    }

    section .section-wrap.dashboard-section .header-bar .total-payment-bar p,
    section .section-wrap.dashboard-section .header-bar .date-bar p,
    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .total-payment-val-item p {
        font-size: 17px;
        line-height: initial;
    }

    section .section-wrap.dashboard-section .header-bar .date-bar img {
        margin: 0 0 0 15px;
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 992px) {
    .wrapper-body section .packages-switch-btns-bar {
        flex-direction: column;
        display: flex;
        flex-flow: revert;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .wrapper-body section .packages-switch-btns-bar .package-item {
        margin: 0;
        width: 49%;
    }

    .wrapper-body section .packages-switch-btns-bar .package-item:nth-child(1),
    .wrapper-body section .packages-switch-btns-bar .package-item:nth-child(2) {
        margin: 0 0 15px 0;
    }
    .wrapper-body header .page_name h1{
        font-size: 17px;
        line-height: initial;
    }
    .wrapper-body header .page_name a > span {
        width: 17px;
        height: 17px;}
    section .section-wrap.dashboard-section #chartdiv {
        max-width: 660px;
    }
    section .section-wrap.dashboard-section .header-bar .total-payment-bar h2 {
        font-size: 17px;
        line-height: initial;
        margin: 0 5px 0 0;
    }

    section .section-wrap.dashboard-section .header-bar .total-payment-bar p,
    section .section-wrap.dashboard-section .header-bar .date-bar p,
    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .total-payment-val-item p {
        font-size: 14px;
    }

    .wrapper-body section .section-wrap.dashboard-section {
        margin: 30px auto 0 20px;
    }

    section .section-wrap.dashboard-section .header-bar .date-bar img {
        margin: 0 0 0 5px;
        width: 20px;
        height: 20px;
    }

    .wrapper-body section .section-wrap.dashboard-section {
        padding: 0 7px;

    }

    section .section-wrap.dashboard-section .total-payments-packages {
        padding: 20px;
    }

    section .section-wrap.dashboard-section .total-payments-packages h4, section .section-wrap.dashboard-section .packages-profit-bar h4 {
        font-size: 17px;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values div > div:first-child {
        margin: 0 30px 0 0;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .total-payment-val-item h5,
    section .section-wrap.dashboard-section .total-payments-packages .progress-val span,
    section .section-wrap.dashboard-section g text {
        font-size: 14px;
        line-height: initial;
    }

    #chartdiv:after {
        bottom: 80px;
    }

    section .section-wrap.dashboard-section .packages-profit-bar {
        padding: 20px;
        margin: 30px 0 0 0;
    }
    .for-information .credit-card-banner .card-item {
        margin: 0 20px 0 0;
        width: 140px;
    }
    .for-information .credit-card-banner .card-item.active-card:after{
        font-size: 10px;
        width: 20px;
        height: 20px;
        right: -10px;
        top: -10px;
    }
}

@media (max-width: 769px) {
    .wrapper-body header nav{
        max-width: 100%;
        width: calc(100% - 40px);
        margin: 0 0 0 auto;

    }
    /*  Menu Media  */
    :root {
        --sidebar-width: 100%;
        --toggler-size: 22px;
        --toggler-line-number: 3;
        --toggler-line-size: calc(var(--toggler-size) / (var(--toggler-line-number) + var(--toggler-line-number) - 1));
    }

    .sidebar {
        transition: all 0.25s ease-out;
    }

    .sidebar {
        transform: translateX(calc(var(--sidebar-width) * -1));
        background-color: #142A33;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 0;
        height: 100vh;
        z-index: 3;
    }

    .menu-toggler {
        border-radius: calc(var(--toggler-line-size) / 2);
        display: block;
        width: var(--toggler-size);
        height: var(--toggler-size);
        position: fixed;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 4;
        margin: 30px 15px;
    }

    .menu-toggler__line {
        height: var(--toggler-line-size);
        background: #142A33;
        position: absolute;
        border-radius: calc(var(--toggler-line-size) / 2);
        left: 0;
        right: 0;
        transition: all 0.25s ease-out;
    }

    .menu-toggler__line:nth-child(1) {
        top: calc(var(--toggler-line-size) * 1 + (var(--toggler-line-size) * (1 - 2)));
    }

    .menu-toggler__line:nth-child(2) {
        top: calc(var(--toggler-line-size) * 2 + (var(--toggler-line-size) * (2 - 2)));
    }

    .menu-toggler__line:nth-child(3) {
        top: calc(var(--toggler-line-size) * 3 + (var(--toggler-line-size) * (3 - 2)));
    }

    .input-toggler {
        position: absolute;
        left: -100%;
    }

    .input-toggler:focus ~ .menu-toggler {
        outline: 1px dotted;
        /*transition: .5s ease;*/
    }

    .input-toggler:checked ~ .menu-toggler .menu-toggler__line:not(:first-child):not(:last-child) {
        opacity: 0;
    }

    .input-toggler:checked ~ .menu-toggler .menu-toggler__line:first-child, .input-toggler:checked ~ .menu-toggler .menu-toggler__line:last-child {
        background-color: #ffffff;
    }

    .input-toggler:checked ~ .menu-toggler .menu-toggler__line:first-child {
        transform: translateY(calc(var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(45deg);
    }

    .input-toggler:checked ~ .menu-toggler .menu-toggler__line:last-child {
        transform: translateY(calc(-1 * var(--toggler-line-size) * (var(--toggler-line-number) - 1))) rotate(-45deg);
    }

    .input-toggler:checked ~ .sidebar {
        transform: translateX(0);

    }
    .wrapper-body {
        width: 100%;
    }
    /*  /Menu Media  */
    .wrapper-body section .section-wrap.dashboard-section {
        margin: 20px 0 0 0;
        padding: 0 15px;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values div > div:first-child {
        margin: 0 20px 0 0;
    }
    .wrapper-body header{
        position: fixed;
    }
    .wrapper-body section {
        margin: 110px 0 0 0;
    }
    .wrapper-body section .section-wrap.for-information {
        max-width: 100%;
        margin: 30px 0 0 0;
    }

    .for-information .credit-card-banner .card-item {
        height: 70px;
        width: 130px;

        padding: 7px 25px;
    }
    .avatar-upload .account-info-bar h2{
        font-size: 19px;
        line-height: initial;
    }
    .for-information .form-group label,
    .for-information .select-content label,
    .for-information .buttons_bar button,
    .avatar-upload .account-info-bar p,
    .select-content .custom-option,
    .for-information .form-group input::placeholder,
    .for-information .form-group input {
        font-size: 14px;
        line-height: initial;
    }
    .avatar-upload .avatar-edit {

        margin: 40px 0 0 0;
    }
    .select-content .custom-option {
        padding: 7px 20px;
    }
}
@media (max-width: 522px) {
    section .section-wrap.dashboard-section .header-bar,
    section .section-wrap.dashboard-section .header-bar .total-payment-bar {
        flex-wrap: wrap;
    }

    #chartdiv:after {
        bottom: 150px;
    }
}

@media (max-width: 480px) {
    .wrapper-body header .user_avatar_bar .user-name{
        font-size: 16px;
    }
    .wrapper-body{
        height: auto;
    }
    .wrapper-body section .packages-switch-btns-bar .package-item:last-child{
        margin: 0;
    }
    .wrapper-body section .packages-switch-btns-bar .package-item {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .wrapper-body section .packages-switch-btns-bar .package-name{
        width: initial;
    }
    .wrapper-body header .page_name h1{
        font-size: 14px;
        line-height: initial;
    }
    .wrapper-body header .page_name a > span {
        width: 14px;
        height: 14px;}
    .wrapper-body header .page_name a > span{
        margin: 0 10px 0 0 ;
    }
    section .section-wrap.dashboard-section .header-bar .total-payment-bar p,
    section .section-wrap.dashboard-section .header-bar .date-bar p,
    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .total-payment-val-item p {
        font-size: 12px;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values {
        flex-direction: column;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .aside-right > div {
        display: flex;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .aside-right {
        margin: 10px 0 0 0;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values div > div:first-child {
        margin: 0 14px 0 0;
    }

    section .section-wrap.dashboard-section .total-payments-packages .total-payments-values .aside-right .total-payment-val-item h5 {
        margin: 0 5px 0 0;
    }

    section .section-wrap.dashboard-section .header-bar .total-payment-bar {
        margin-bottom: 10px
    }

    #chartdiv:after {
        bottom: 160px;
        font-size: 40px;
    }

    section .section-wrap.dashboard-section .packages-profit-bar h4 span {
        font-size: 16px;
    }
    .for-information > div .select-content, .for-information > div .form-group, .select-content .custom-select-wrapper {
        width: 100%;
        max-width: 100%;
    }
    .for-information .credit-card-banner .card-item.active-card:after{
        font-size: 7px;
        width: 15px;
        height: 15px;
        right: -7px;
        top: -7px;
    }
    .for-information .credit-card-banner .card-item {
        margin: 0 15px 0 0;
    }

    .for-information .credit-card-banner .card-item {
        height: 55px;
        width: 95px;
        padding: 7px 10px;
    }

    .for-information > div > h3,
    .avatar-upload .account-info-bar h2,
    .change-pass-btn{
        font-size: 16px;
    }

    .for-information .form-group label,
    .for-information .select-content label,
    .for-information .buttons_bar button,
    .avatar-upload .account-info-bar p,
    .select-content .custom-option,
    .avatar-upload .avatar-edit input + label,
    .for-information .form-group input::placeholder,
    .for-information .form-group input {
        font-size: 12px;
        line-height: initial;
    }

    .for-information > div .select-content, .for-information > div .form-group,
    .for-information > div .select-content.select-package,
    .for-information > div .form-group.email-address-group,
    .for-information > div .form-group.cvv-group {

        margin-bottom: 20px;
    }

    .for-information > div .form-group > div {
        max-width: 100%;
    }
    .avatar-upload .avatar-edit {
        margin: 50px 0 0 0;
    }
}
